.header {
  display: grid;
  grid-template-columns: 1.3fr 1.5fr 1px 2.2fr;
  inline-size: 100%;
  max-inline-size: 1440px;
  margin: 0 auto;
  block-size: 25vh;
  /* background-color: rgba(0, 255, 179, 0.21); */
  justify-items: center;
  align-items: center;
}

.header__logo {
  block-size: 106px;
  inline-size: 150px;
  justify-self: end;
  margin-right: 2.6vw;
}

.header__description {
  justify-self: start;
  padding-right: 5vw;
}

.header__title {
  color: #8ea31a;
  font-size: 25px;
  line-height: 1.2;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.header__text {
  color: #404040;
  font-size: 14px;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
}

.header__line {
  /* padding-right: 1px; */
  background-color: #9b9b9b77;
  /* border-right: 1px solid #f4f4f4; */
  margin: 0;
  width: 1px;
  height: 23vh;
}

.header__address {
  justify-self: start;
  margin-left: 3vw;
  font-size: 20px;
  font-style: normal;
  color: #343434;
  font-family: "Open Sans", sans-serif;
}

.header__address p {
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
}
/* HEADER */
/* MENU */
.menu {
  background: #575257;
  inline-size: 100%;
  block-size: 87px;
  align-self: flex-start;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  block-size: 100%;
  background: #575257;
  margin: auto;
}

.navigation a {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: white;
  text-decoration: none;
  padding: 35px;
  text-align: center;
  block-size: 100%;
  inline-size: 200px;
  border-inline: 1px solid #6d696d;
}

.navigation a:first-of-type {
  border-left: none;
}

.navigation a:last-of-type {
  border-right: none;
}

.navigation a:hover {
  background-color: #514c51;
}

.navigation__active{
  background-color: #6d696d;
}
/* MENU */
/* FOOTER */
.footer {
  block-size: calc(300px - 85px);
  color: #fff;
  background-color: #2e2e2e;
  display: flex;
  justify-content: center;
  padding: 50px 0 35px 0;
  gap: 70px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-size: 13px;
  font-family: "Open sans", sans-serif;
}

.footer__address p {
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 20px;
}

.footer__tel {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-size: 19px;
  font-family: "Open sans", sans-serif;
  font-weight: bold;
}

.footer__tel a {
  line-height: 1.4;
}
.footer__tel p {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 20px;
}


